/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

/* utilities */

.bg-beige{
    background-color: #eaeaea;
}


/* content */

/* big container */

.container{
    width: 80vw;
    min-width: 600px;
    height: 95vh;
    display: flex;
}

.container > *{
    border: 1px dashed black;
}

.left{
    width: 30%;
    display: flex;
    flex-direction: column;
}


.right{
    width: 70%;
    display: flex;
    flex-direction: column;
}


.left-header{
    width: 100%;
}

.right-header{
    width: 100%;
    border-left: 2px solid #f6f6f6;
}



/* user panel */

.userPanel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar{
    width: 40px;
    border-radius: 50%;
}

.user-info{
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.user-actions{
    color: #b1b1b1;
}

.user-actions i{
    margin-right: 5px;
}


/* dekstop Notifications */

.dekstopNotifications{
    background-color: #8edafc;
    display: flex;
    padding: 10px;
}

.circle-icon{
    background-color: white;
    color: #8edafc;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
}

.notifications > *{
    font-size: 12px;
    margin: 0 auto;

}

.notifications p {
    margin-top: 5px;
}

.notifications a {
    color: #666;
    text-decoration: none;

}


/* search Bar */

.searchBar{
    display: flex;
    color: #bbc0c4;
    background-color: #fafafa;
}

.searchBar > * {
    flex-grow: 1;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

.lens-icon{
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 10px;
}

.search{
    font-size: 11px;
    display: flex;
    padding: 10px;
    background-color: white;
    width: 100%;
    border: none;
}

/* contacts */

.contacts{
    display: flex;
    flex-direction: column;
}
.contact-item{
    padding: 0 10px;
    border-bottom: 2px solid #f6f6f6 ;

}

.user-info .info{
    padding-top: 10px;

}

.info p{
    font-size: 11px;
    color: #666;
}

/* chat container */

.chat{
    background-image: url('../img/mine.jpg');
    height: 600px;
}





